/* RESETS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
}

/* Variables */
:root {
  --main-font: 'Playfair Display', serif;
  --secondary-font: 'Lato', sans-serif;
  --color-dark: #121212;
  --color-grey: #e5e5e5;
  --color-white: #ffffff;
}

/* Loader */
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: black;
  color: #fff;
  z-index: 10000;
  position: fixed;
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: ring 2s linear infinite;
          animation: ring 2s linear infinite;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #e65c00;
            box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #18b201;
            box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #0456c8;
            box-shadow: 1px 5px 2px #0456c8;
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #e65c00;
            box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #18b201;
            box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #0456c8;
            box-shadow: 1px 5px 2px #0456c8;
  }
}

.ring::before {
  position: absolute;
  left: 0;
  content: '';
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  -webkit-animation: text 3s ease-in-out infinite;
          animation: text 3s ease-in-out infinite;
}

@-webkit-keyframes text {
  50% {
    color: black;
  }
}

@keyframes text {
  50% {
    color: black;
  }
}

#loader.hide {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.header {
  background: url("../img/bg-img.svg") center no-repeat;
  height: 100vh;
  background-size: cover;
}

.header .nav-custom {
  background-color: var(--color-dark);
  -webkit-box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2);
}

.header .logo {
  height: 6rem;
}

.header .nav-link {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2.5rem;
  text-align: center;
}

.header .nav-link.active {
  color: var(--color-white);
}

.header .navbar-toggler:focus {
  outline: none;
}

.header .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  overflow: hidden;
}

.header .nav-toggle:focus {
  outline: none;
}

.header .nav-toggle .nav-toggle-icon-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.header .nav-toggle .nav-toggle-icon-1 {
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.header .nav-toggle .nav-toggle-icon-3 {
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

.header .nav-toggle-icon {
  height: 4px;
  background-color: #fff;
  width: 3.5rem;
  margin: 3px;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
/*# sourceMappingURL=style.css.map */