/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; //This makes 1 rem = 10px; 10/16 * 100 = 62.5%
}

body {
  font-family: var(--main-font);
}

/* Variables */

:root {
  --main-font: 'Playfair Display', serif;
  --secondary-font: 'Lato', sans-serif;
  --color-dark: #121212;
  --color-grey: #e5e5e5;
  --color-white: #ffffff;
}

/* Loader */
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: black;
  color: #fff;
  z-index: 10000;
  position: fixed;
}
.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(0360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring::before {
  position: absolute;
  left: 0;
  content: '';
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50% {
    color: black;
  }
}

#loader.hide {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// End of loader styles

